<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sourceAFRICA Page Embed Test</title>
    <style type="text/css" media="screen">
      body {
        font: 400 1em/1.4em Gotham, sans-serif;
      }
      .embed-section {
        float: left;
        width: 30%;
        min-width: 200px;
        margin-right: 3%;
      }
      .embed-section:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>

    <div class="embed-section">
      <h1>Local loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="https://sourceafrica.net/documents/19789-everest.html#document/p1" title="View page 1 of Everest on sourceAFRICA in new window or tab" target="_blank">Page 1 of Everest</a></p>
        <img src="https://s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/documents/19789/pages/everest-p1-small.gif?1432893331" alt="Page 1 of Everest" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to sourceAFRICA by David Lemayian of sourceAFRICA • <a href="https://sourceafrica.net/documents/19789/pages/everest-p1.txt" title="View text of page 1 of Everest in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="/embed/loader/enhance.js"></script>
    </div>

    <div class="embed-section">
      <h1>Staging loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="https://sourceafrica.net/documents/19789-everest.html#document/p1" title="View page 1 of Everest on sourceAFRICA in new window or tab" target="_blank">Page 1 of Everest</a></p>
        <img src="https://s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/documents/19789/pages/everest-p1-small.gif?1432893331" alt="Page 1 of Everest" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to sourceAFRICA by David Lemayian of sourceAFRICA • <a href="https://sourceafrica.net/documents/19789/pages/everest-p1.txt" title="View text of page 1 of Everest in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="//s3.amazonaws.com/dcloud_staging/embed/loader/enhance.js"></script>
    </div>

    <div class="embed-section">
      <h1>Production loader:</h1>
      <div class="DC-embed" data-version="1.0" style="font-size:10pt">
        <p><a class="DC-embed-resource" href="https://sourceafrica.net/documents/19789-everest.html#document/p1" title="View page 1 of Everest on sourceAFRICA in new window or tab" target="_blank">Page 1 of Everest</a></p>
        <img src="https://s3-eu-west-1.amazonaws.com/s3.sourceafrica.net/documents/19789/pages/everest-p1-small.gif?1432893331" alt="Page 1 of Everest" style="border:1px solid #ccc;-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:700px;">
        <p>Contributed to sourceAFRICA by David Lemayian of sourceAFRICA • <a href="https://sourceafrica.net/documents/19789/pages/everest-p1.txt" title="View text of page 1 of Everest in a new window or tab" target="_blank">View page as text</a></p>
      </div>
      <script src="//assets.documentcloud.org/embed/loader/enhance.js"></script>
    </div>

  </body>
</html>
