<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sourceAFRICA Search Embed Test</title>
    <style type="text/css" media="screen">
      body {
        font: 400 1em/1.4em Gotham, sans-serif;
      }
      .embed-section {
        float: left;
        width: 30%;
        min-width: 200px;
        margin-right: 3%;
      }
      .embed-section:last-child {
        margin-right: 0;
      }
    </style>
  </head>
  <body>

    <div class="embed-section">
      <h1>Local loader:</h1>
      <div id="DC-search-projectid-99-kenya-gazettes" class="DC-search-container"></div>
      <script src="/embed/loader.js"></script>
      <script>
        dc.embed.load('https://sourceafrica.net/search/embed/', {
          q: "projectid: 99-kenya-gazettes",
          container: "#DC-search-projectid-99-kenya-gazettes",
          title: "",
          order: "created_at",
          per_page: 12,
          search_bar: true,
          organization: 1
        });
      </script>
      <noscript>
        <a href="https://sourceafrica.net/public/search/projectid%3A%2099-kenya-gazettes">View/search document collection</a>
      </noscript>
    </div>

    <div class="embed-section">
      <h1>Staging loader:</h1>
      <div id="DC-search-projectid-99-kenya-gazettes" class="DC-search-container"></div>
      <script src="/embed/loader.js"></script>
      <script>
        dc.embed.load('https://sourceafrica.net/search/embed/', {
          q: "projectid: 99-kenya-gazettes",
          container: "#DC-search-projectid-99-kenya-gazettes",
          title: "",
          order: "created_at",
          per_page: 12,
          search_bar: true,
          organization: 1
        });
      </script>
      <noscript>
        <a href="https://sourceafrica.net/public/search/projectid%3A%2099-kenya-gazettes">View/search document collection</a>
      </noscript>
    </div>

    <div class="embed-section">
      <h1>Production loader:</h1>
      <div id="DC-search-projectid-99-kenya-gazettes" class="DC-search-container"></div>
      <script src="/embed/loader.js"></script>
      <script>
        dc.embed.load('https://sourceafrica.net/search/embed/', {
          q: "projectid: 99-kenya-gazettes",
          container: "#DC-search-projectid-99-kenya-gazettes",
          title: "",
          order: "created_at",
          per_page: 12,
          search_bar: true,
          organization: 1
        });
      </script>
      <noscript>
        <a href="https://sourceafrica.net/public/search/projectid%3A%2099-kenya-gazettes">View/search document collection</a>
      </noscript>
    </div>

  </body>
</html>
