<%
  @nav    = 'about'
  @title  = 'Who We Are'
  @header = 'Who We Are: Meet the people behind sourceAFRICA'
%>

<div id="content">


<p>sourceAFRICA is a catalog of primary source documents and a tool for annotating, organizing and publishing them on the web. Documents are contributed by journalists, researchers and archivists. We're helping reporters get more out of documents and helping newsrooms make their online presence more engaging.</p>

<p>Brought to you by <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a> using <a href="https://github.com/documentcloud/documentcloud" target="_blank">DocumentCloud</a>.</p>


</div>
