<%
  @nav    = 'about'
  @title  = 'About sourceAFRICA'
  @header = 'About sourceAFRICA'
%>

<div id="content">

<p>sourceAFRICA is Africa's premier repository for "actionable documents".</p>

<p>What do we mean by actionable documents? Documents that the public need to help make more informed decisions, or that help civic watchdogs such as the media or social justice NGOs substantiate their reportage, or documents that have been suppressed or censored elsewhere.</p>

<p>sourceAFRICA is powered by <a href="https://github.com/documentcloud/documentcloud" target="_blank">DocumentCloud</a>, and allows you to turn your documents into machine readable data, for better analysis. It also makes it easier for you to share documents and/or collaborate with your audience and colleagues.</p>

<p><em>sourceAFRICA is offered as a service by <a href="http://investigativecenters.org/" target="_blank">ANCIR (the African Network of Centers for Investigative Reporting)</a> with support from <a href="http://wwww.codeforafrica.org/" target="_blank">Code for Africa</a>.</em></p>

</div>
