<%
  @nav    = 'about'
  @title  = 'About sourceAFRICA'
  @header = 'About sourceAFRICA'
%>

<div id="content">

<p>sourceAFRICA is a catalog of primary source documents and a tool for annotating, organizing and publishing them on the web. Documents are contributed by journalists, researchers and archivists. We're helping reporters get more out of documents and helping newsrooms make their online presence more engaging.</p>

<p>An <a href="http://investigativecenters.org" target="_blank">A.N.C.I.R.</a> built and maintained by <a href="http://www.codeforafrica.org" target="_blank">Code for Africa</a>.</p>

<p>Africa's biggest and only deployment of <a href="https://github.com/documentcloud/documentcloud" target="_blank">DocumentCloud</a>.</p>

</div>
