
  <section>
    <h3>sourceAFRICA's API</h3>
    <dl>
      <dt id="faq-api-1">What is the sourceAFRICA API?</dt>
      <dd>
        <p>sourceAFRICA's API provides resources to search, upload, edit, and organize documents as well as to work with projects. In addition, an oEmbed service provides easy integration of embedding documents, pages and notes. Full <%= link_to 'documentation', '/help/api' %> is available.</p>
      </dd>
      <dt id="faq-api-2">Do you need a sourceAFRICA account to use the API?</dt>
      <dd>
        <p>As with sourceAFRICA workspace, you need an account to use the API to upload, update or delete documents, or create and modify projects. Other API functions, such as search, do not require an account. Consult the <%= link_to 'documentation', '/help/api' %> for details.</p>
      </dd>
      <dt id="faq-api-3">What libraries are available for working with the API?</dt>
      <dd>
        <p>The open-source community has contributed several helpful libraries for interacting with sourceAFRICA's API. These include Python, Ruby and Node.js wrappers. See the listing in the API <%= link_to 'documentation', '/help/api' %>.</p>
      </dd>
      <dt id="faq-api-4">Are there limits on API use?</dt>
      <dd>
        <p>Yes. Please read our complete <%= link_to 'API Guidelines and Terms of Service', '/terms/api' %>.</p>
      </dd>
    </dl>
  </section>

</div>
