<%
  @title      = "Sign Up Information"
  @bodyclass  = "full_page_background"
%>

<div id="docs" class="full_page_background">
  <h1>Sign Up Information</h1>
  <p>
    Find information on obtaining a sourceAFRICA account for yourself or<br />
    your organization by visiting our <a href="https://sourceafrica.net/contact">contact page.</a>
  </p>
</div>
